<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/aboutus.css">
    <!-- Aos animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>About Us</title>
  </head>
  <body>
    <!-- navbar common -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/pictures/logo.jpg" alt="" width="30" height="28" class="d-inline-block align-top">
                Charity4U
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/user/all">Organizations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- navbar common end -->
      <div class="content-box" data-aos="fade-up" data-aos-duration="3000">
        <div class="box-head">
            <h2 class="text-center">Charity4U</h2>
        </div>
        <div class="box-body">
            <p>Charity4U is a donation site to bridge the gap between the donor and various governmental as well as Non-governmental organizations. This is a secured site where an user can donate cash/kind to any registered organizations of their choice. Some features of this website are:</p>
            <ul>
                <li>Only the verified organizations (after they have submitted a valid proof to the admin) are allowed to login. Hence this is much more reliable and transparent.</li>
                <li>User can donate to as many organizations as many times they can. They will also get to know whether their donation is accepted or rejected by their organizations in their mail.</li>
                <li>User can also see <strong>where did their donation go</strong> in the contributions page of each organizations.</li>
            </ul>
        </div>
      </div>
      <button class="btn btn-danger" style="margin-left:50%; margin-right: 50%;" onclick="history.back()">Back</button>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script> 
    </body>
</html>